<button id="navbar-btn">
    <img id="navbar-btn-img" src="../../static/images/hamburger.png" width="24" height="24"/>
</button>
<nav id="navbar-cont">
    <ul class="navbar-group">
        <li class="navbar-item">
            <a href="#1" class="navbar-link">Link 1</a>
        </li>
        <li class="navbar-item">
            <a href="#2" class="navbar-link">Link 2</a>
        </li>
        <li class="navbar-item">
            <a href="#3" class="navbar-link">Link 3</a>
        </li>
        <li class="navbar-item">
            <a href="#4" class="navbar-link">Link 4</a>
        </li>
        <li class="navbar-item">
            <a href="#5" class="navbar-link">Link 5</a>
        </li>
        
    </ul>
    <div class="navbar-profile">
        <a class="navbar-name" href="#">
            <img class="navbar-img" src="../../static/images/default.jpg"/>
        </a>
        <a class="navbar-name" href="#">User</a>
    </div>
</nav>
